/* Color applied to whole page and font set for all text elements */
body {
    background-color:rgb(197, 197, 197);
    font-size: 120%;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
}

/* We want headers to be noticeable, so center and darken */
.page-header {
    color: rgb(21, 36, 43);
    vertical-align: middle;
    text-align: center;
}

/* Create a grid for the image icons to each project */
.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

/* override bootstrap default to remove space in grid layout*/
.container::before {
    display: none;
}

/* Align links to center of div, set to slightly darker color to match theme */
a {
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    color: rgb(33, 44, 65);
}

/* Contains an image and the hovering overlay. position is set relative to align in grid */
.projectContainer {
    position: relative;
    width: 100%;
}

/* Images should flow through container, width and height are set to static values */
.image {
    display: block;
    width: 200px;
    height: 200px;
}

/* We want the overlay text to center itself within to overlay */
.overlayText {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* We don't want the text to turn the standard color, so set to white on hover with no decoration */
.overlayText:hover {
    color: white;
    text-decoration: none;
}

/* Class to set on each image. This isn't visible until hover occurs, transition is set
    here to make sure it looks smooth */
.projectOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 200px;
    opacity: 0;
    transition: .5s ease;
    background-color:  rgb(17, 138, 179);
    border-width: 5px;
    border-color:  rgb(4, 71, 94);
    border-style: solid;
}

/* Once user hovers, set opacity higher so projectOverlay becomes visible */
.projectContainer:hover .projectOverlay {
    opacity: .8;
}

