/**
 *	File: https://kevoot.github.io/GUI_Course/hw8/css/main.css
 *  Assignment 8: jQuery UI plugin
 *	Name: Kevin Holmes
 *	Email: kevin_holmes@student.uml.edu
 * 	Status: CS Undergrad
 *	Last Modified: 11/29/2018 8:59PM
 *  Description: This is mostly the same as homework 7, with the addition
 *  of a few style rules for error messages on the input forms.
 *
 *  This file: This file contains all css for the page. It styles
 *      the column headers in an alternating pattern for even 
 *      elements. The oddrow class is applied during the table
 *      generation.
 * 
 */

/*
 * Set the main page and modal colors and center all text
 */
body, .modal-content {
    background-color: rgb(69, 70, 75);
    color: rgb(240, 240, 240);
    text-align: center;
}

/*
 * Center all paragraphs to center of page
 */
p {
    margin: 0 auto;
}

/*
 * Submit button was resting a bit too close to the input fields and table
 */
button {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*
 * Each column and row should alternate between light and dark
 * Rows will have class applied programmatically
 */
th:nth-child(even), .oddrow th {
    background-color: #2b3541;
}

/*
 * When hovering over an entry, make it visually distinct
 * Also change mouse cursor so we can see what we're hovering over
 */
td:hover { 
    cursor: none;
    color: rgb(116, 116, 116); 
    background-color: rgb(240, 240, 240);
}

/*
 * Center and adjust all the header text
 */
h5, .header {
    margin: 0 auto;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
    height: 100%;
}

/*
 * Header should have its own color to stand out
 */
.header-container {
    background-color: #3c4d61;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 10px;
}

/*
 * Content of page has static size and centered in page
 */
.content-body {
    max-width: 75%;
    margin: 0 auto;
    background-color: #303d4d;
    border-color: #2f3a47;
    border-style: solid;
    border-width: 3px;
    height: 100vh;
}

.range-input, .range-slider {
    margin-bottom: 20px;
}

/*
 * Line up the input boxes
 */
.form-group {
    display: block;
}

/*
 * input elements should float right in respective box
 */
input {
    float: right;
}

.input-container {
    padding-bottom: 20px;
}

/*
 * label for each input should appear to left of the input
 */
label {
    float: left;
}

/*
 * Set up errors to stand out from the rest of the page
 */
#inputForm label.error {
    color:red;
}

#inputForm input.error {
    border:1px solid red;
}
        