/**
 *	File: https://kevoot.github.io/GUI_Course/final/css/main.css
 *  Assignment 9: Implementing a Bit of Scrabble with Drag-and-Drop
 *	Name: Kevin Holmes
 *	Email: kevin_holmes@student.uml.edu
 * 	Status: CS Undergrad
 *	Last Modified: 12/19/2018 3:34PM
 *  Description: CSS transitions for the holders of both the rack and 
 *               game board spaces are set here to provide visual
 *               clarity to the user. Other than that, very basic layout
 *               setting on each container.
 */

body {
  background-color: rgb(30, 30, 30);
}

/*
 * Set the size contraints on the main container
 */
#content {
  width: 60%;
  height: 800px;
  margin: 0px auto;
  background-color: rgb(163, 126, 70);
}

/*
 * Make the input section stand out with a border and separate layout
 */
#input {
  border: dotted 1px black;
  top: 50px;
  position: relative;
  margin: 0px auto;
  height: 60%;
}

/*
 * Space out the rack and buttons from the top of the input board
 */
#playerpieces, #buttoncontainer  {
  top: 10px;
}

/*
 * Center the row of game board squares with the score text situated above it
 */
#gameboard, #scorecontainer {
  top: 20px;
  margin: 0px auto;
}

/*
 * Force buttons and player pieces to the left of their respective forms
 */
#submit, #reroll, #playerpieces {
  float: left;
}

/*
 * Force container for buttons to the right of the rack, and restart button further from normal play buttons
 */
#restart, #buttoncontainer {
  float: right;
}

/*
 * Situate the label above and left of the history textarea
 */
#historytextlabel {
  margin-top: 10%;
  display: block;
}

/*
 * Nice and noticeable
 */
#errortext {
  color: rgb(177, 50, 50);
}

/*
 * history text area should be left justified below the rack
 */
.brown-border textarea {
  border: 2px solid #572013;
  width: 60%;
  float: left;
}

/*
 * Each box needs static square dimensions. The background image itself 
 * will be inserted programmatically
 */
.box {
  height: 35px;
  width: 35px;
  background-image: none;
  background-size: cover;
  position: relative;
  top: 0px;
  left: 0px;
  cursor: pointer;
}
  
/*
 * Change the border on items being dragged
 */
.held {
  border: solid 1px black;
}

/*
 * holder and double holder are responsible for receiving the boxes. They are square but slightly
 * larger to accomodate. Should always go next to one another
 */
.holder, .double-holder {
  height: 40px;
  width: 40px;
  margin: 2px;
  border: solid 2px black;
  background-size: cover;
  display: inline-block;
}

/*
 * blank board square (or rack space)
 */
.holder {
  background-image: url("../img/back_blank.jpg");
}

/*
 * For game board spaces with a multiplier
 */
.double-holder {
  background-image: url("../img/back_double_word.jpg");
}

/*
 * When hovering over an empty holder, swap the board to be visually apparent
 */
.hovered {
  border: dotted 5px black;
}

/*
 * Force tile invisible when dragStart is called
 */
.invisible {
  display: none;
}
